
<html class=" -webkit-" manifest="cache.appcache"><head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
		<meta charset="utf-8">


		<title>Test</title>
</head>
	<body>
	<div style="width:600px; height: 100px;margin-left:auto; margin-right:auto;">

		<span style="font-size: 40px; margin-left:auto; margin-right:auto;margin-top: -20px;">GG's Lab4</span>
		<br>
		<br>
		<a style="font-size: 40px; margin-left:auto; margin-right:auto;margin-top: -20px;" href="{{ url_for('catwalk') }}">Catwalk</a>
		<br>
		<br>
		<a style="font-size: 40px; margin-left:auto; margin-right:auto;margin-top: -20px;" href="{{ url_for('madlibs') }}">Madlibs</a>
	</div>
</div>

</body></html>